<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="semantic/out/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="semantic/out/semantic.min.js"></script>

    <title>Vue Directives</title>
</head>

<body>

    <div class="ui inverted fixed menu">
        <div class="header item">Learning VueJS Part 4</div>
    </div>

    <!--PART 4 - DIRECTIVES-->
    <div class="ui main container" id="app">
        <p>Model Lazy</p>
        <input type="text" v-model.lazy="message">
        {{ message }}
        <hr>
        <p>Model Number</p>
        <input type="text" v-model.lazy="message">
        {{ number }}
        <hr>
        <p>Created Directive</p>
        <input type="text" v-salut="test">
        <p>Update Directive(Console)</p>
        <input type="text" v-model="test">
        <hr>
        <!--PART 5 - FILTERS-->
        <div class="ui container">
            {{ message2 | capitalize }} <br>
            {{ message3 | capitalize | reverse }}
        </div>
        <hr>
        <!--PART 6 - COMPONENTS-->
        <div class="ui container">
            <mycomponent type="success" :message="test2"></mycomponent>
            <mycomponent2 type="error" :message="test3"></mycomponent2>
            <b>Counter from zero</b> <counter></counter> Click to increment<br>
            <b>Counter from ten</b> <counter :start="10"></counter>
            <hr>
            <mycomponent3 type="error" :message="test" header="Intruder Alert!!!" v-if="alert" @closeit="hideAlert"></mycomponent3>
            <button @click="showAlert()" v-if="!alert"> Press for Alert</button>
        </div>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="js/app2.js"></script>

</body>

</html>